#carouselExampleIndicators {
      width: 40%;
      margin: 0 auto;
      margin-top: 10%;
      
  }
  
  .carousel-item img {
      width: 40%;
      height: 400px;
  }
  
  .card:hover .card-img-top {
      width: 105%;
  
  
      transition: width 0.5s;
  }
  .Container{
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }