:root {
  --color:#1861e8;
}
.container-Profile {
  margin-top: 5%;
  background-color: #e9e9e9;
  overflow-x: hidden;
  width: 100%;
  height: 500px;  
}
.profile-header {
  background: #ffffff;
  width: 100%;
  display: flex;
  height: 190px;
  position: relative;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}
.profile-img {
  float: left;
  width: 340px;
  height: 200px;
}
.profile-img img {
  border-radius: 50%;
  height: 230px;
  width: 230px;
  border: 4px solid #ffffff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50px;
  top:50px;
  z-index: 2;
  background: #ffffff;
}
.profile-nav-info {
  float: left;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}
.profile-nav-info h3 {
  font-variant: small-caps;
  font-size: 2rem;
  font-family: sans-serif;
  font-weight: bold;
}
.profile-nav-info .address {
  display: flex;
   
  font-weight: bold;
  color: #777777;
}
.profile-nav-info .address p {
  margin-right: 5px;
}
.profile-option {
  width: 40px;
  height: 40px;
  background: var(--color);
  position: absolute;
  right: 50px;
  top: 50px;
  transform:  translateY(-50%);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .5s ease-in-out;
  outline: none;
}
.profile-option .notification i{
  color: #ffffff;
  font-size: 1.2rem;
  transition: all .5s ease-in-out;  
}
.profile-option:hover {
  background: #ffffff;
  border: 1px solid var(--color);
}
.profile-option:hover .notification i {
  color: var(--color);
}
.profile-option .notification .alert-message {
   position: absolute;
   top: -5px;
   right: -5px;
   background: #ffffff;
  color: var(--color);
  border: 1px solid;
  padding: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .8rem;
  font-weight: bold;
  }
  .main-bd {
    width: 100%;
    display: flex;
    padding-right: 15px;
  }
  .profile-side {
    
    width: 300px;
    background: #ffffff;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
    padding:90px 30px 20px;
    font-family: "Bree Serif", serif;
    margin-left: 10px;
    z-index: 99;
  }
  .profile-side p {
    margin-bottom: 7px;
    color: #333333;
    font-size: 14px;
  }
  .profile-side p i {
    color: var(--color);
    margin-right: 10px;
  }
  .mobile-no i {
    transform: rotateY(180deg);
  }
  .profile-btn{
    margin-top: 14%;
    display: flex;
  }
  button.editbtn,
  button.deletebtn {
    border: 0;
    padding:10px;
    width: 100%;
    border-radius: 3px;
    background: var(--color);
    font-family: "Bree Serif",sans-serif;
    font-size: 1rem;
    margin: 5px ;
    cursor: pointer;
    outline: none;
    margin-bottom: 10px;
    transition: background .3s ease-in-out;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, .3);
    color: #ffffff  ;
  }
  button.editbtn:hover{
    background: rgba(252, 194, 3);
  }
  button.deletebtn:hover{
    background: rgba(235, 21, 21);
  }
  button.editbtn,
  button.deletebtn{
    margin-right: 5px;
  }
  .right-side{
    width: 100%;
  }
  .nav {
    width: 100%;
    z-index: -1;
    display: flex;
    justify-content: center;
    background: #ffffff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
      height: 40px;  
      cursor: pointer;
      transition: all .2s ease-in-out;
  }
  .nav h3 {
    font-size: 1.2rem;
    margin-top: 1%;
    font-family: "Bree Serif", sans-serif;
  }
  .nav:active,
  .nav:hover {
    box-shadow: 0px -3px 0px #1861e8 inset;
  }
  .profile-posts {
    width: 100%;
    z-index: -1;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

  }
  .tab {
    padding:20px;
    width: 100%;
    text-align: center;
    
  }
  @media(max-width:900px){
    .container-Profile{
      margin: 0 20px ;
    }
    .profile-header{
      display: flex;
      height: 76%;
      flex-direction: column;
      text-align: center;
      padding-bottom: 20px;
    }
    .profile-img{
      float: left;
      width: 100%;
      height: 200px;

    }
    .profile-img img{
      position: relative;
     left: 0 !important;
    }
    .profile-nav-info {
      text-align: center;
    }
    .profile-nav-info .address{
      justify-content: center;
    }
    .profile-option{
      right: 20px;
      top: 75%;
      transform: translateY(50%);
    }
    .main-bd{
      flex-direction: column;
      padding-right: 0px;
    }
    .profile-side{
      width: 100% !important;
      text-align: center;
      padding: 20px !important;
      margin: 5px 0;
    }
  } 
  @media(max-width:1100px){
    .profile-side{
      width: 250px;
      padding: 90px 15px 20px;
    }
    .profile-img img {
      height: 200px;
      width: 200px;
      left: 50px;
      top: 50px;
    }
    .nav h3 {
      font-size: 1.2rem;
      margin-top: 0.5%;
      font-family: "Bree Serif", sans-serif;
  }
}
@media(max-width:400px){
  .container-Profile{
    margin: 0;
    margin-top: 20%;
  }
  .profile-posts{
    display: flex;
    flex-direction: column;
  }
  
}
 