.design_post {
  border-radius: 20px;
  background-color: white;
  width: 75%;
 padding-top: 1%;
 
}
.design_title {
  text-align: center;
  font-size: 140%;
  font-weight: bold;
  margin-bottom: 0%;
}
.design_info {
  font-size: 80%;
  text-align: center;
  color: gray;
  margin: 0;
}

.design-coordonation {
  display: flex;
  justify-content: center;
  
}
@media only screen and (max-width: 970px) {
  .design-coordonation {
   
    flex-wrap: wrap;
  }
}
.design-input-image{
  display: flex;
  flex-direction: column;
  margin-right: 15%;
}
.design-other-input{
  display: flex;
  flex-direction: column;

}
@media only screen and (max-width: 970px) {
  .design-other-input {
   
  position: relative;
  }
}

.registration-form {
  padding-top: 20px;
}

.registration-form form {
  background-color: #fff;
  max-width: 600px;
  margin: auto;
  
}

.registration-form .form-icon {
  text-align: center;
  background-color: #5891ff;
  border-radius: 50%;
  font-size: 40px;
  color: white;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 8px;
  line-height: 100px;
}


.design-coord {
  color: #4a5568;
  text-transform: uppercase;
  font-family: "Roboto",sans-serif;
  font-weight: bold;
  font-size: 70%;
  margin-bottom: 0%;
  display: flex;

  text-align: left !important;
}
.design-required {
  color: rgb(149, 149, 149);
  font-weight: normal ;
  text-transform: lowercase;
  font-size: 80%;
  padding-top: 0.5%;
  margin: 0;
}
.registration-form .item {
  border-radius: 20px;
  margin-bottom: 25px;
  padding: 10px 20px;
}

.registration-form .create-account {
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  background-color: #5791ff;
  border: none;
  
  margin-top: 30px;
  width: 30%;
  margin-left: 34%;
}

.registration-form .social-media {
  max-width: 600px;
  background-color: #fff;
  margin: auto;
  padding: 35px 0;
  text-align: center;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  color: #9fadca;
  border-top: 1px solid #dee9ff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

.registration-form .social-icons {
  margin-top: 30px;
  margin-bottom: 16px;
}

.registration-form .social-icons a {
  font-size: 23px;
  margin: 0 3px;
  color: #5691ff;
  border: 1px solid;
  border-radius: 50%;
  width: 45px;
  display: inline-block;
  height: 45px;
  text-align: center;
  background-color: #fff;
  line-height: 45px;
}

.registration-form .social-icons a:hover {
  text-decoration: none;
  opacity: 0.6;
}

@media (max-width: 576px) {
  .registration-form form {
    padding: 50px 20px;
  }

  .registration-form .form-icon {
    width: 70px;
    height: 70px;
    font-size: 30px;
    line-height: 70px;
  }
}
.submitform{
  display: flex;
  justify-content:center ;
}