.design-pubAnnounce {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-between !important;
    padding: 2%;
    height:850px;
}

.pagination-pubAnnounce {
    text-align: center;
    bottom: 0%;
    
}